body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.padding-default {
  padding: 5% 20%;
}
.margin-default {
  margin: 0 3rem;
}
/* navigation bar */

#title {
  background-color: #00adb5;
  color: #eeeeee;
}

#title .padding-default {
  padding: 3% 15% 7%;
}

#title-text {
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#logo-picture {
  height: 100px;
  width: 100px;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-top: 0;
  padding-bottom: 4.5rem;
  z-index: 1;
}
.nav-item {
  padding: 0 18px;
  text-align: right;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

#title-picture {
  width: 500px;
  position: absolute;
  margin-left: 100px;
  top: 70px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  #title-picture {
    position: static;
    display: block;
    margin: auto;
    width: 300px;
  }
}
/* Quotes */

#quotes {
  text-align: center;
  background-color: #3a4750;
  color: #eeeeee;
}
.carousel-item {
  height: 250px;
}
.quote-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  height: 100px;
}
.quote-img {
  width: 10%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 20px;
}

@media (max-width: 1028px) {
  .carousel-item {
    height: 400px;
  }
  .quote-text {
    height: 200px;
  }
}
/* About */

#about {
  margin: auto;
}
.header-text {
  font-weight: 400;
  padding: 4rem 0 1rem;
  text-align: center;
}

.about-picture-left {
  float: left;
  width: 400px;
}
.about-picture-right {
  float: right;
  width: 400px;
}
.about-text-left {
  padding: 1rem 0;
  text-align: left;
}
.about-text-right {
  padding: 1rem 0;
  text-align: right;
}
@media (max-width: 1400px) {
  .about-text-left {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .about-text-right {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .about-picture-left {
    position: relative;
    width: 300px;
    margin: auto;
    display: block;
    float: none;
  }
  .about-picture-right {
    position: relative;
    width: 300px;
    margin: auto;
    display: block;
    float: none;
  }
}

.no-bullets {
  padding: 0;

  list-style-type: none;
}

/* Press */

#press {
  background-color: #ffffff;
  text-align: center;
  padding: 3% 0;
}

.press-logo {
  height: 200px;
}

/* Footer */

#footer {
  background-color: #3a4750;
  color: #eeeeee;

  padding-top: 2%;
  font-size: small;
}

.padding-footer {
  padding: 0 30%;
  margin: auto;
}

.footer-icon {
  color: white;
  margin: 0 0.2rem;
}
.copyright {
  padding: 2% 0;
  text-align: center;
}
